
<a href="#" class="footer"><i class="fa-brands fa-square-facebook"></i></a>
<a href="#"  class="footer"><i class="fa-brands fa-square-instagram"></i></a>
<a href="#" class="footer"><i class="fa-brands fa-square-whatsapp"></i></a>

